<article class="block span-<%= project.weeks %> margin-<%= project.week %> js-block">
  <div class="block--inner" style="background: <%= project.color %>; color: <%= project.invert_color %>;">
    <h2 class="block--title"><%= project %></h2>
    <section class="block--details" style="background: <%= project.tint_color %>;">
      <span>Fee: <%= number_to_currency(project.fee, unit: "£") %></span>
      <span>Allocated fee: <%= number_to_currency(project.allocated_fee, unit: "£") %></span>
      <span>Diff: <%= number_to_currency(project.fee_diff, unit: "£") %></span>
      <%= render project.resources.map(&:decorate) %>
    </section>
  </div>
</article>