<!DOCTYPE html>
<html class="no-js">
<head>
  <title>Resources</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'modernizr' %>
</head>

<%= content_tag :body, data: { module: controller_name, action: action_name } do %>
  <section class="app">
    <header class="app--header">
      <div class="l-wrap">
        <div class="app--title">
          <%= link_to root_path do %>
            <%= icon("madebymany") %>
            Resourcing
          <% end %>
        </div>
        <nav class="app--nav nav">
          <%= link_to "Projects", root_path, class: "nav--link" %> 
        </nav>
        <%= render 'notifier' if defined?(notice) || defined?(message) %>
      </div>
    </header>
    <section class="app--content">
      <%= yield %>
    </section>
  </section>
  <%= yield :foot %>
  <%= javascript_include_tag 'application' %>
  <%= render 'layouts/typekit' %>
<% end %>

</html>
