<!DOCTYPE html>
<html class="no-js">
<head>
  <title>Resources</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'modernizr' %>
</head>

<%= content_tag :body, data: { module: controller_name, action: action_name } do %>
  <section class="app">
    <div class="app--notifier js-notifier"></div>
    <section class="app--content">
      <%= yield %>
    </section>
  </section>
  <%= javascript_include_tag 'app_cocoon', 'application' %>
<% end %>

</html>
